body {
    box-sizing: border-box;
    /* margin: 0; */
    height: 95vh;
    display: flex;
    /* justify-content: space-between; */
}

.sidebar {
    margin-right: 6rem;
}

main .board{
    display: grid;
    width: 60%;
    height: 60%;
    grid-template-columns: repeat(3, minmax(100px, 140px));
    grid-template-rows: repeat(3, 1fr);
    font-size: xx-large;
    text-align: center;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
