body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    width: 60%;
    height: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 1px solid black;
}